<html>
    <head>
        <title>Thermostat</title>
        <link href="./css/style.css" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src='./javascripts/jquery-2.1.1.min.js'></script>
        <% if false %>
            <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
        <% end %>
        <script src='./javascripts/thermostat.js'></script>
    </head>
    <body>
        <h1><span class='temp'></span>°</h1>
        <button class='warmer'>+</button>
        <button class='cooler'>-</button>
        <button class='reset'>Reset</button>
        <input class='psm' type='checkbox' checked> Power Saving Mode
    </body>
 </html>

